body{
    background-color: grey;
    width: 100%;
    height: 100%;
}

header {
    height: 9rem;
}

header .headertext {
    padding-top: 0.1rem;
    padding-left: 4rem;
}

nav {
    padding-left: 3rem;
    display: flex;
}

nav a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1rem solid;
    text-decoration: none;
    background-color: white;
    color: black;
}

.firstrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: seagreen;
}


.firstphoto {
    padding: 1rem;
}

.boyut {
    width: 50vw;
    height: 25vw;
    min-width: 300px;
    min-height: 150px;
}

.firsttext {
    padding: 1rem 0 0 1rem;
    font-size: 5vw;
}

.secondtext{
    padding: 0.5rem 0 0 1rem;
    font-size: 2vw;
}

.secondtext a {
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1rem solid;
    color: black;
}


h3 {
    display: flex;
    justify-content: center;
}

.footerrow {
    background-color: grey
}

.footerrow .ftext {
    display: flex;
    justify-content: center;
}

.footerrow .fbutton {
    display: flex;
    justify-content: center;
    padding: 12px 25px;
}



.secondrow {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    justify-content: space-between;
    row-gap: 2rem;
    background-color: aqua;
}

.secondphoto {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
}

.secondphoto img {
    width: 100%;
    object-fit: cover;
}

























@media screen and (min-device-width: 501px) and (max-device-width: 800px)  {
    .firstrow{  
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    
    .boyut {
    height: 5vw;
    width: 3vw;
    }

    .firsttext{
    padding: 0rem;
    }
    
    .secondphoto {
    width: 200px;
       
    }
    
}

@media only screen and (max-width: 500px) {
    .boyut {
        width: 100px;
    }
    .secondphoto {
        width: 100px;
       
    }
}